*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background-color: #e3e6f3;
    box-shadow: 0px 5px 15px rgba(0 , 0 , 0 , 0.3);
}

.header-logo{
    margin-left: 20px;
    padding: 10px;
}

.header-logo>a>img{
    width: 40px;
    height: 40px;
}

.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-list-nav>ul{
    display: flex;
    list-style: none;
}

#header-list-nav>ul>li{
    margin: 15px;
    font-size: 16px;
    font-weight: 550;
    position: relative;
}

#header-list-nav>ul>li>a{
    color:black;
    text-decoration: none;
}

#header-list-nav>ul>li>a:hover,
#header-list-nav>ul>li>a.active{
    color:#088178;
    transition: 0.3s ease;
}

.header-list-icon{
    margin-right: 30px;
}

.header-list-icon>a>i{
    color:black;
    font-size: 16px;
    /* margin-bottom: 2px; */
    margin-left: 10px;
}

.header-list-icon>a>i:hover{
    color:#088178;
    transition: 0.3s ease;
}

#header-list-nav>ul>li>a:hover::after,
#header-list-nav>ul>li>a.active::after{
    content: "";
    background-color: #088178;
    width: 80%;
    height:2px;
    position: absolute;
    bottom:-4px;
    left:-2px;
}

#hero{
    background-image: url("images/hero4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

#hero>h4{
    color:white;
    font-size: 40px;
}

#hero>h2{
    font-size: 70px;
    color:black;
}   

#hero>h1{
    color:#088178;
    font-size: 70px;
    position:relative;
    bottom:20px;
}

#hero>p{
    color:#465b52;
    font-size: 16px;
    margin-left: 2px;
}

#hero>button{
    background-image: url("images/button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
    margin-top: 30px;
    width:300px;
    height:70px;
    color:#088178;
    font-size: 16px;
    font-weight: 550;
    z-index: 20;
}

#features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

#features>.fbox{
    margin: 10px;
    width: 200px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
    border:1px solid #cce7d0;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    transition: box-shadow 0.3s;
}

#features>.fbox:hover{
    box-shadow: 10px 10px 50px rgba(0,0,0,0.15)
}

#features>.fbox>img{
    width:168px;
    height:auto;
}

#features>.fbox>h4{
    font-weight: bolder;
    margin-top: 20px;
    color:#088178;
    padding:10px;
    border-radius: 13px;
    font-size: 12px;
}

#feature1{
    background-color: #fddde4;
}
#feature2{
    background-color: #cdebbc;
}
#feature3{
    background-color: #d1e8f2;
}
#feature4{
    background-color: #cdd4f8;
}
#feature5{
    background-color: #f6dbf6;
}
#feature6{
    background-color: #fff2e5;
}
